@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
  <h1 class="display-4">Goat Store 🐐</h1>
  <p class="lead">Welcome to the number one online store for goats in the North Norfolk area. 
    Take your time and choose from our range of over three different goats.</p>
  <hr class="my-4">
  <p>Start your goat buying journey here!
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/Products" role="button">View Goats</a> <a class="btn btn-primary btn-lg" href="/Orders" role="button">View Orders</a>
  </p>
</div>